  body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }

  #map {
    height: 100vh;
    width: 100%;
    z-index: 1;
  }

  .controls {
    position: absolute;
    top: 80px;
    /* Moved to top */
    left: 20px;
    background: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    min-width: 200px;
  }

  .controls h3 {
    margin: 0 0 10px 0;
    font-size: 1.1em;
  }

  /* --- STYLE UNTUK LEGENDA (Keterangan Warna) --- */
  .legend {
    line-height: 18px;
    color: #555;
    position: absolute;
    top: 80px;
    /* Moved to top */
    right: 20px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    z-index: 1000;
  }

  /* --- STYLE UNTUK LEGENDA (Keterangan Warna Biru) --- */
  .legend .gradient-bar {
    width: 30px;
    height: 200px;
    /* Dari Putih (bawah) ke Biru Tua (atas) */
    background: linear-gradient(to top,
        #ffffff 0%,
        #d1eefb 20%,
        #a6dcf7 40%,
        #46a9e2 60%,
        #005eb8 80%,
        #00008b 100%);
    margin: 0 auto 5px;
    border: 1px solid #ccc;
  }

  .legend .labels {
    font-size: 0.9em;
    display: flex;
    flex-direction: column-reverse;
    height: 200px;
    justify-content: space-between;
  }

  .legend .label-item {
    text-align: right;
  }

  .navbar-brand {
    margin-left: 5px;
  }

  #chart-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 350px;
    background: rgba(255, 255, 255, 0.95);
    z-index: 2000;
    padding: 20px;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.2);
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    transition: transform 0.3s ease-in-out;
  }

  .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
    opacity: .5;
    border: 0;
    width: 2em;
    height: 2em;
    cursor: pointer;
  }

  .btn-close:hover {
    opacity: .75;
  }